.accordion-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
}
.accordion-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}
.accordion-container h2 {
    font-weight: 500;
}
.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.accordion .a-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
}
.accordion .a-container .a-btn {
    margin: 0;
    margin-bottom: 12px;
    position: relative;
    padding: 15px 0px;
    width: 100%;
    color: #636363;
    font-weight: 600;
    display: block;
    padding-right: 40px;
    /* background-color: white; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* border-radius: 5px; */
    border-bottom: 1px solid #636363;
    /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .05), 0 10px 10px -5px rgba(0, 0, 0, .05) !important; */
}
.accordion .a-container .a-btn span {
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    right: 20px;
    top: 18px;
}
.accordion .a-container .a-btn span:after {
    content: '';
    width: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #535353;
    position: absolute;
    top: 6px;
}
.accordion .a-container .a-btn span:before {
    content: '';
    width: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #535353;
    position: absolute;
    top: 6px;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}
.accordion .a-container .a-panel {
    width: 100%;
    color: #535353;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding: 0px 10px;
}
.accordion .a-container.active .a-btn {
    color: #636363;
}
.accordion .a-container.active .a-btn span::before {
    transform: rotate(0deg);
}
.accordion .a-container.active .a-panel {
    padding: 15px 10px 10px 10px;
    opacity: 1;
    max-height: 500px;
}


/* Accordion2 */
.accordion2 .a-container {
    position: relative;
}

.accordion2 .a-container .a-btn {
    position: relative;
    z-index: 2;
    margin-bottom: 24px;
    cursor: pointer;
    padding: 40px;
    background-color: white;
    border-radius: 1.2rem;
    color: #636363;
    transition: 0.3s all;
    box-shadow: 0px 24px 70px -10px rgba(255, 165, 65, 0.1);
    border-bottom: none;
}

.accordion2 .a-container .a-btn span {
    top: 46px;
}

.accordion2 .a-container .a-panel {
    position: relative;
    z-index: 2;
    background-color: #53504C;
    color: white;
    border-radius: 1.2rem;
}

.accordion2 .a-container.active .a-panel {
    margin-bottom: 4rem;
    padding: 40px;
}

.accordion2 .btn-content,
.accordion2 .panel-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.accordion2 .btn-content h4, 
.accordion2 .panel-content h4 {
    width: 12%;
    flex: none;
}

.accordion2 .panel-content h4 {
    color: #EE993A;
}

.accordion2 .btn-content p,
.accordion2 .panel-content p {
    flex: auto;
    opacity: 1;
    padding-right: 8px;
    font-weight: 400;
}

.accordion2 .a-container .line {
    opacity: 0;
    transition: 0.6s all;
}
.accordion2 .a-container.active .line {
    position: absolute;
    top: 100px;
    right: 40px;
    height: 100px;
    width: 2px;
    background: #636363;
    z-index: 0;
    opacity: 1;
}

.accordion2 .a-container.active .line--left {
    position: absolute;
    top: 100px;
    left: 40px;
}

.accordion2 .a-container.active .line--right {
    position: absolute;
    top: 100px;
    right: 40px;
}

@media (max-width: 654px) {
.accordion2 .btn-content,
    .accordion2 .panel-content {
        display: block;
    }
    .accordion2 .btn-content h4,
    .accordion2 .panel-content h4 {
        width: 100%;
    }
}